<%- include("partials/header.ejs") %>

<div id="blank-space"></div>
<div id="fade"></div>
<div id="upd-modal">
    <div class="modal-header">
        <h2>Write your thoughts:</h2>
        <a href="/" id="close-update" class="btn"> Close </a>
    </div>
    <form action="/update/<%= post.id %>?_method=PUT" method="post" class="post-info">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="<%= post.title %>">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%= post.author %>">
        <label for="content">Content:</label>
        <textarea name="content" id="content" cols="30" rows="10"> <%= post.content %> </textarea>
        <button type="submit" class="btn update"> Update </button>
    </form>
</div>

<%- include("partials/footer.ejs") %>
